body {
    font-family: 'Space Mono', monospace;
    color: white;
    align-content: center;
    background-image: linear-gradient(180deg, black, #000e4d);
    height: 950px;
}

h1 {
    text-align: center;
    font-size: 60px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
}

th {
    height: 40px;
    width: 230px;
}

td {
    width: 230px;
}

table, th, td {
    border: 1px solid white;
    font-size: 18px;
}

tr:hover {
    background-color: rgb(214, 9, 135);
}

img {
    height: 150px;
}

.glow {
    border-radius: 0%;
    box-shadow:
      0 0 50px 10px #fff,
      0 0 90px 40px rgb(224, 5, 224),
      0 0 130px 70px rgb(35, 0, 100);
}
